<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MC Earth Panel</title>
</head>
<body>
    <h1>Web Panel</h1>

    <div>Live Tappable Count: @ViewBag.TappableCount</div>
    <div>Biome Generation: @ViewBag.BiomeGeneration</div>
    <div>Generation Radius: @ViewBag.SpawnRadius</div>


</body>
</html>
